# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [1]:
from xml.etree import ElementTree as ET
import pandas as pd

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [205]:
document_tree = ET.parse( 'mondial_database_less.xml' )

In [207]:
# print names of all countries
for child in document_tree.getroot():
    print(child.find('name').text)

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [5]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print '* ' + element.find('name').text + ':',
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print capitals_string[:-2]

* Albania: Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece: Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia: Skopje, Kumanovo
* Serbia: Beograd, Novi Sad, Niš
* Montenegro: Podgorica
* Kosovo: Prishtine
* Andorra: Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [2]:
import os
os.chdir(r"C:\\Users\Siva Teja\Desktop\Springboard\data_wrangling_xml\data_wrangling_xml\data")

In [3]:
document = ET.parse('mondial_database.xml' )

In [4]:
countries = []
for child in document.getroot():
    countries.append(child.find('name').text)

countries[:10]

['Albania',
 'Greece',
 'Macedonia',
 'Serbia',
 'Montenegro',
 'Kosovo',
 'Andorra',
 'France',
 'Spain',
 'Austria']

####  1. 10 countries with the lowest infant mortality rates

In [5]:
# Trial for extracting country names and infant mortalities.

for element in document.iterfind('country'):
    print('* ' + element.find('name').text + ':')
    for subelement in element.getiterator('infant_mortality'):
        print(subelement.text)

* Albania:
13.19
* Greece:
4.78
* Macedonia:
7.9
* Serbia:
6.16
* Montenegro:
* Kosovo:
* Andorra:
3.69
* France:
3.31
* Spain:
3.33
* Austria:
4.16
* Czech Republic:
2.63
* Germany:
3.46
* Hungary:
5.09
* Italy:
3.31
* Liechtenstein:
4.33
* Slovakia:
5.35
* Slovenia:
4.04
* Switzerland:
3.73
* Belarus:
3.64
* Latvia:
7.91
* Lithuania:
6
* Poland:
6.19
* Ukraine:
8.1
* Russia:
7.08
* Belgium:
4.18
* Luxembourg:
4.28
* Netherlands:
3.66
* Bosnia and Herzegovina:
5.84
* Croatia:
5.87
* Bulgaria:
15.08
* Romania:
10.16
* Turkey:
21.43
* Denmark:
4.1
* Estonia:
6.7
* Faroe Islands:
5.71
* Finland:
3.36
* Norway:
2.48
* Sweden:
2.6
* Monaco:
1.81
* Gibraltar:
6.29
* Guernsey:
3.47
* Holy See:
* Ceuta:
* Melilla:
* Iceland:
3.15
* Ireland:
3.74
* San Marino:
4.52
* Jersey:
3.86
* Malta:
3.59
* Isle of Man:
4.17
* Moldova:
12.93
* Portugal:
4.48
* Svalbard:
* United Kingdom:
4.44
* Afghanistan:
117.23
* China:
14.79
* Iran:
39
* Pakistan:
57.48
* Tajikistan:
35.03
* Turkmenistan:
38.13
* Uzbekistan:
19.84
* Armenia:
13.97
* Georgia:
16.68
* Azerbaijan:
26.67
* Bahrain:
9.68
* Bangladesh:
45.67
* Myanmar:
44.91
* India:
43.19
* Bhutan:
37.89
* Brunei:
10.48
* Malaysia:
13.69
* Laos:
54.53
* Thailand:
9.86
* Cambodia:
51.36
* Vietnam:
18.99
* Kazakhstan:
21.61
* North Korea:
24.5
* Kyrgyzstan:
28.71
* Hong Kong:
2.73
* Macao:
3.13
* Mongolia:
23.15
* Nepal:
40.43
* Christmas Island:
* Cocos Islands:
* Cyprus:
8.54
* Gaza Strip:
30.6
* Israel:
3.98
* Egypt:
22.41
* Indonesia:
25.16
* Timor-Leste:
38.79
* Papua New Guinea:
39.67
* Iraq:
37.53
* Jordan:
15.73
* Kuwait:
7.51
* Saudi Arabia:
14.58
* Syria:
15.79
* Lebanon:
7.98
* West Bank:
28.6
* Japan:
2.13
* South Korea:
3.93
* Maldives:
24.59
* Oman:
14
* United Arab Emirates:
10.92
* Yemen:
50.41
* Philippines:
17.64
* Qatar:
6.42
* Singapore:
2.53
* Sri Lanka:
9.02
* Taiwan:
4.49
* Anguilla:
3.4
* Antigua and Barbuda:
13.29
* Aruba:
11.74
* Bahamas:
12.5
* Barbados:
10.93
* Belize:
20.31
* Guatemala:
23.51
* Mexico:
12.58
* Bermuda:
2.48
* British Virgin Islands:
13.45
* Canada:
4.71
* United States:
6.17
* Cayman Islands:
6.21
* Costa Rica:
8.7
* Nicaragua:
20.36
* Panama:
10.7
* Cuba:
4.7
* Dominica:
11.61
* Dominican Republic:
19.63
* Haiti:
49.43
* El Salvador:
18.44
* Honduras:
18.72
* Greenland:
9.42
* Grenada:
10.5
* Guadeloupe:
8.3
* Jamaica:
13.69
* Martinique:
7.1
* Montserrat:
13.66
* Curacao:
* Sint Maarten:
9.05
* Saint Martin:
* Saint Barthelemy:
* Colombia:
15.02
* Puerto Rico:
7.73
* Saint Kitts and Nevis:
8.98
* Saint Lucia:
11.75
* Saint Pierre and Miquelon:
6.95
* Saint Vincent and the Grenadines:
13.07
* Trinidad and Tobago:
24.82
* Turks and Caicos Islands:
10.97
* Virgin Islands:
6.79
* American Samoa:
8.92
* Australia:
4.43
* Cook Islands:
14.33
* Fiji:
10.2
* French Polynesia:
4.78
* Guam:
5.51
* Kiribati:
35.37
* Marshall Islands:
21.39
* Micronesia:
21.93
* Nauru:
8.21
* New Caledonia:
5.46
* New Zealand:
4.59
* Niue:
* Norfolk Island:
* Northern Mariana Islands:
5.5
* Palau:
11.46
* Pitcairn:
* Solomon Islands:
16.17
* Tonga:
12.36
* Tuvalu:
31.69
* Tokelau:
* Vanuatu:
16.41
* Wallis and Futuna:
4.49
* Samoa:
20.5
* Argentina:
9.96
* Bolivia:
38.61
* Brazil:
19.21
* Chile:
7.02
* Paraguay:
20.75
* Uruguay:
8.97
* Peru:
20.21
* French Guiana:
14.6
* Guyana:
33.56
* Suriname:
27.07
* Venezuela:
19.33
* Ecuador:
17.93
* Falkland Islands:
* Algeria:
21.76
* Libya:
11.87
* Mali:
104.34
* Mauritania:
56.06
* Morocco:
24.52
* Niger:
86.27
* Tunisia:
23.19
* Western Sahara:
145.82
* Angola:
79.99
* Congo:
59.34
* Namibia:
45.64
* Zaire:
73.15
* Zambia:
66.62
* Benin:
57.09
* Burkina Faso:
76.8
* Nigeria:
74.09
* Togo:
46.73
* Botswana:
9.38
* South Africa:
41.61
* Zimbabwe:
26.55
* Cote dIvoire:
60.16
* Ghana:
38.52
* Burundi:
63.44
* Rwanda:
59.59
* Tanzania:
43.74
* Cameroon:
55.1
* Central African Republic:
92.86
* Chad:
90.3
* Equatorial Guinea:
71.12
* Gabon:
47.03
* Cape Verde:
24.28
* Sudan:
52.86
* South Sudan:
68.16
* Comoros:
65.31
* Guinea:
55.24
* Liberia:
69.19
* Djibouti:
50.2
* Eritrea:
38.44
* Ethiopia:
55.77
* Somalia:
100.14
* Kenya:
40.71
* Gambia:
65.74
* Senegal:
52.72
* Guinea-Bissau:
90.92
* Sierra Leone:
73.29
* Uganda:
60.82
* Lesotho:
50.48
* Madagascar:
44.88
* Malawi:
48.01
* Mozambique:
72.42
* Mauritius:
10.59
* Mayotte:
56.29
* Swaziland:
54.82
* Reunion:
7.5
* Saint Helena:
17.63
* Sao Tome and Principe:
49.16
* Seychelles:
10.77

In [6]:
# Create an empty list infant_mortality. Append all the lists [country_name, infant_mortality].
infant_mortality = []
for element in document.iterfind('country'):
    for subelement in element.getiterator('infant_mortality'):
        infant_mortality.append([element.find('name').text, float(subelement.text)]) # Convert the infant_mortality to float.

In [7]:
# Create a pandas dataframe with infant_mortality as data.
infant_mortality_df = pd.DataFrame(infant_mortality, columns= ('country', 'infant mortality'))

In [8]:
# Finding the top 10 lowest infant mortalities.
infant_mortality_df.sort(columns = ('infant mortality'),ascending = True).head(10)

C:\Users\Siva Teja\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

            country  infant mortality
36           Monaco              1.81
90            Japan              2.13
109         Bermuda              2.48
34           Norway              2.48
98        Singapore              2.53
35           Sweden              2.60
8    Czech Republic              2.63
72        Hong Kong              2.73
73            Macao              3.13
39          Iceland              3.15

####  2. 10 cities with the largest population

In [9]:
# Create a list called city_pop with contents: country_name, city_name, population_attributes, actual population.
city_pop = []

for country in document.iter('country'):
    for city in country.iter('city'):
        for population in city.iter('population'):
            city_pop.append([country.find('name').text, city.find('name').text, population.attrib, int(population.text)])

In [10]:
# Create a dataframe with city_pop list as data

city_pop_df = pd.DataFrame(city_pop, columns=('Country', 'City', 'Attrib', 'Population'))

In [11]:
# Create a new column in the dataframe by extracting the year value from 'Attrib' column and drop the 'Attrib' column.
city_pop_df['Year'] = [city_pop_df['Attrib'][i]['year'] for i in range(len(city_pop_df['Attrib']))]
city_pop_df.drop('Attrib', axis = 1, inplace =True)
city_pop_df.head(10)

   Country     City  Population  Year
0  Albania   Tirana      192000  1987
1  Albania   Tirana      244153  1990
2  Albania   Tirana      418495  2011
3  Albania  Shkodër       62000  1987
4  Albania  Shkodër       77075  2011
5  Albania   Durrës       60000  1987
6  Albania   Durrës      113249  2011
7  Albania    Vlorë       56000  1987
8  Albania    Vlorë       79513  2011
9  Albania  Elbasan       53000  1987

In [12]:
# Sorting the dataframe by year 2011.

city_pop_2011 = city_pop_df[city_pop_df.Year == '2011']
city_pop_2011.sort(columns = ('Population'), ascending = False).head(10)

C:\Users\Siva Teja\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

             Country       City  Population  Year
4303           India     Mumbai    12442373  2011
4399           India      Delhi    11034555  2011
4280           India  Bangalore     8443675  2011
3235  United Kingdom     London     8250205  2011
3944            Iran     Tehran     8154051  2011
4201      Bangladesh      Dhaka     7423137  2011
4414           India  Hyderabad     6731790  2011
4263           India  Ahmadabad     5577940  2011
8782          Angola     Luanda     5000000  2011
4353           India    Chennai     4646732  2011

####  3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)

In [13]:
# Create a list ethnic_groups and a list of 2011 populations by country.
ethnic_groups = []
pop_2011 = []


for country in document.iter('country'):
    for ethnicgroup in country.iter('ethnicgroup'):
        ethnic_groups.append([country.find('name').text, ethnicgroup.attrib, ethnicgroup.text])
    for pop in country.iterfind('population'):
        if pop.attrib == {'year': '2011', 'measured': 'census'}:
            pop_2011.append([country.find('name').text, int(pop.text)])

In [14]:
# Create dataframes using the two lists above.

ethnic_groups_df = pd.DataFrame(ethnic_groups, columns =('Country', 'Attrib', 'Group'))
pop_2011_df = pd.DataFrame(pop_2011, columns=('Country', 'Tot_pop'))

In [15]:
# Create a new column in ethnic_groups_df which has the percentage of the Group and drop the 'Attrib' column.

ethnic_groups_df['Percentage'] = [float(ethnic_groups_df['Attrib'][i]['percentage'])/100 for i in range(len(ethnic_groups_df['Attrib']))]
ethnic_groups_df.drop('Attrib', axis =1, inplace = True)
ethnic_groups_df.head(10)

     Country        Group  Percentage
0    Albania     Albanian       0.950
1    Albania        Greek       0.030
2     Greece        Greek       0.930
3  Macedonia   Macedonian       0.642
4  Macedonia     Albanian       0.252
5  Macedonia      Turkish       0.039
6  Macedonia        Gypsy       0.027
7  Macedonia         Serb       0.018
8     Serbia         Serb       0.829
9     Serbia  Montenegrin       0.009

In [16]:
# Merge the two datasets on the 'Country' column.

ethnic_groups_df = ethnic_groups_df.merge(pop_2011_df, how ='inner')
ethnic_groups_df.head()

   Country        Group  Percentage   Tot_pop
0  Albania     Albanian       0.950   2800138
1  Albania        Greek       0.030   2800138
2   Greece        Greek       0.930  10816286
3   Serbia         Serb       0.829   7120666
4   Serbia  Montenegrin       0.009   7120666

In [17]:
# Calculate the population of each group by country and modify teh dataframe.

ethnic_groups_df["Group_pop"] = ethnic_groups_df['Percentage']*ethnic_groups_df['Tot_pop']
ethnic_groups_df.drop('Percentage', axis =1, inplace =True)
ethnic_groups_df.drop('Tot_pop', axis =1, inplace =True)
ethnic_groups_df.head()

   Country        Group     Group_pop
0  Albania     Albanian  2.660131e+06
1  Albania        Greek  8.400414e+04
2   Greece        Greek  1.005915e+07
3   Serbia         Serb  5.903032e+06
4   Serbia  Montenegrin  6.408599e+04

In [18]:
# Group the dataframe by Group and sort.
ethnic_groups_df.groupby(['Group']).sum().sort(columns = ('Group_pop'), ascending = False).head(10)

C:\Users\Siva Teja\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

                         Group_pop
Group
Indo-Aryan            8.718156e+08
Dravidian             3.027137e+08
Bengali               1.467769e+08
German                7.427849e+07
English               5.282030e+07
Mediterranean Nordic  4.681592e+07
Persian               3.832633e+07
Polish                3.788108e+07
Mongol                3.632565e+07
European              2.856090e+07

####  4.name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [19]:
# Create a list countries to store country name and attributes.
countries = []
for country in document.iter('country'):
    countries.append([country.find('name').text,country.attrib])

In [20]:
#Create a dataframe to hold country name and code.
countries_df = pd.DataFrame(countries, columns = ('Country', 'Attrib'))
countries_df['Code'] = [countries_df.Attrib[i]['car_code'] for i in range(len(countries_df.Attrib))]
countries_df.drop('Attrib', axis =1, inplace = True)
countries_df.head()

      Country Code
0     Albania   AL
1      Greece   GR
2   Macedonia   MK
3      Serbia  SRB
4  Montenegro  MNE

####  Longest River

In [21]:
# Create a list to hold river_name, river_attributes and the river_length.
rivers = []
for river in document.iter('river'):
    for length in river.iter('length'):
        rivers.append([river.find('name').text, river.attrib, float(length.text)])

In [22]:
# Create a dataframe with rivers as data and modify it.
rivers_df = pd.DataFrame(rivers, columns=('River', 'Attrib', 'Length'))
rivers_df["Code"] = [rivers_df.Attrib[i]['country'] for i in range(len(rivers_df.Attrib))]
rivers_df.drop('Attrib',axis = 1, inplace = True )
rivers_df.head()

                 River  Length Code
0              Thjorsa   230.0   IS
1  Joekulsa a Fjoellum   206.0   IS
2               Glomma   604.0    N
3                Lagen   322.0    N
4            Goetaaelv    93.0    S

In [23]:
rivers_df = rivers_df.merge(countries_df, how='inner')
rivers_df.head()

                 River  Length Code  Country
0              Thjorsa   230.0   IS  Iceland
1  Joekulsa a Fjoellum   206.0   IS  Iceland
2               Glomma   604.0    N   Norway
3                Lagen   322.0    N   Norway
4            Goetaaelv    93.0    S   Sweden

In [24]:
# Longest river
rivers_df.loc[rivers_df.Length == rivers_df.Length.max()]

      River  Length Code Country
75  Jangtse  6380.0   CN   China

####  Largest Lake

In [25]:
# Create a list to hold lake_name, lake_attributes and the lake_area.
lakes = []
for lake in document.iter('lake'):
    for area in lake.iter('area'):
        lakes.append([lake.find('name').text, lake.attrib, float(area.text)])

In [26]:
# Create a dataframe with lakes as data and modify it.
lakes_df = pd.DataFrame(lakes,columns=('Lake','Attrib', 'Area' ))
lakes_df["Code"] = [lakes_df.Attrib[i]['country'] for i in range(len(lakes_df.Attrib))]
lakes_df.drop('Attrib',axis = 1, inplace = True )
lakes_df.head()

         Lake    Area Code
0       Inari  1040.0   SF
1  Oulujaervi   928.0   SF
2   Kallavesi   472.0   SF
3      Saimaa  4370.0   SF
4  Paeijaenne  1118.0   SF

In [27]:
lakes_df = lakes_df.merge(countries_df, how='inner')
lakes_df.head()

         Lake    Area Code  Country
0       Inari  1040.0   SF  Finland
1  Oulujaervi   928.0   SF  Finland
2   Kallavesi   472.0   SF  Finland
3      Saimaa  4370.0   SF  Finland
4  Paeijaenne  1118.0   SF  Finland

In [28]:
# Largest Lake.
lakes_df.loc[lakes_df.Area== lakes_df.Area.max()]

             Lake     Area Code        Country
75  Lake Michigan  57800.0  USA  United States

####  Airport at highest eleveation.

In [31]:
import numpy as np

In [33]:
# Create a list to hold airport: name, attributes and elevation.
airports = []

for airport in document.iter('airport'):
    for elevation in airport.iter('elevation'):
        try:
            airports.append([airport.find('name').text, airport.attrib,float(elevation.text)])
        except TypeError:
            airports.append([airport.find('name').text, airport.attrib, np.nan])

In [38]:
# Create a dataframe with airports as data and modify it.
airports_df = pd.DataFrame(airports, columns = ('Airport', 'Attrib', 'Elevation'))
airports_df["Code"] = [airports_df.Attrib[i]['country'] for i in range(len(airports_df.Attrib))]
airports_df.drop('Attrib', axis = 1, inplace = True)
airports_df.head()

                Airport  Elevation Code
0                 Herat      977.0  AFG
1            Kabul Intl     1792.0  AFG
2          Tirana Rinas       38.0   AL
3  Cheikh Larbi Tebessi      811.0   DZ
4         Batna Airport      822.0   DZ

In [39]:
# Merge with countries_Df
airports_df = airports_df.merge(countries_df, how='inner')
airports_df.head()

                Airport  Elevation Code      Country
0                 Herat      977.0  AFG  Afghanistan
1            Kabul Intl     1792.0  AFG  Afghanistan
2          Tirana Rinas       38.0   AL      Albania
3  Cheikh Larbi Tebessi      811.0   DZ      Algeria
4         Batna Airport      822.0   DZ      Algeria

In [41]:
# Airport at highest elevation
airports_df.loc[airports_df.Elevation == airports_df.Elevation.max()]

         Airport  Elevation Code  Country
80  El Alto Intl     4063.0  BOL  Bolivia